<div class='leaderboard'>
</div>

<div class='details'>
	<div class="name">Click a Player to select!</div>
	<div class="controls"></div>
</div>

<script>
var players;
var socket = io.connect();
socket.request('/players',{},function(response) {
	jQuery.each(response, function(key, player) {
		$('.leaderboard').append('<div id="' + player.id + '" class="player"><span class="name">' + player.name + '</span><span class="score">' + player.score + '</span></div>');
	});
	jQuery(document).ready(function() {
		$('.player').click(function() {
			$('.player').removeClass('selected');
			$(this).addClass('selected');
			$('.details .name').html($('.selected .name').html());
			$('.details .controls').html('<input id="addPoints" type="submit" value="Add 5 points"/>');
			$('#addPoints').click(function() {
				socket.request('/players/update',{
					id: $('.selected').attr('id'),
					score: + $('.selected').find('.score').html() + 5
				},updateScoreDom);
			});
		});
		socket.on('message', function(message){
			if (message.model == 'players' && message.verb == 'update') {
				updateScoreDom(message.data);
			}
		});
	});
});

var updateScoreDom = function(response){
	$('#' + response.id).find('.score').html(response.score);
};
</script>

